ul {
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 9;
    padding: 0;
    margin-top: 35px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f0f0f0;
}